<%= simple_form_for @group do |f| %>
  <div class="form-group">
    <%= f.input :title, label:'標題', input_html: { class: "form-control"} %>
    <%= f.input :description, label:'內容',input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "送出", class: "btn btn-success btn-block", data: { disable_with: "送出中..." } %>
<% end %>
<br>
<%= link_to "取消返回", root_path, :class =>"btn btn-warning btn-block" %>